.skills {
    &__items {
        &__item {
            &__right {
                display: block;
                width: 50px;
                height: 50px;
                background-color: $orange;
                border-radius: 50%;
                text-align: center;
                padding-top: 18px;
                float: right;
                margin-right: 20px;
                margin-bottom: 20px;

                &__2 {
                    display: block;
                    width: 50px;
                    height: 50px;
                    background-color: $orange;
                    border-radius: 50%;
                    text-align: center;
                    padding-top: 16px;
                    float: right;
                    margin-right: 20px;
                    margin-bottom: 20px;
                }

                &__3 {
                    display: block;
                    width: 50px;
                    height: 50px;
                    background-color: $orange;
                    border-radius: 50%;
                    text-align: center;
                    padding-top: 16px;
                    float: right;
                    margin-right: 20px;
                    margin-bottom: 20px;
                }
            }
        }
    }
}


.footer {
    &__brand {
        &__upsection {
            display: inline;
            float: right;

            &__background {
                background-color: $lightgrey;
                padding: 12px;
                border-radius: 50%;
                margin-top: 50px;
                margin-right: $margin-side;

                &__icon {
                    color: $orange;
                    font-size: $button-font-size-mobile;
                }
            }

            &__background:hover {
                background-color: $grey;
                transition: 0.5s;
            }
        }

        &__upsection2 {
            display: none;
        }

        &__socials {
            display: block;
            margin-left: $margin-side;

            &__background {
                display: inline;
                margin-left: 5px;

                &__a {
                    font-size: $button-font-size-mobile;
                    color: $lightgrey;
                }

                &__a:hover {
                    color: $grey;
                    transition: 0.5s;
                }
            }
        }
    }
}





/* __TABLET PORTRAIT__ */
@media only screen and (min-width: 768px) {
    .skills {
        &__items {
            &__item {
                &__right {
                    display: block;
                    width: 100px;
                    height: 100%;
                    float: right;
                    margin-right: 20px;
                    margin-bottom: 20px;
                    background-color: $lightgrey;
                    position: relative;

                    &__container {
                        background-color: $orange;
                        height: 50px;
                        border-radius: 50%;
                        text-align: center;
                        padding-top: 18px;
                        width: 50px;
                        bottom: 0;
                        right: 0;
                        vertical-align: text-bottom;
                        position: absolute;
                    }

                    &__2 {
                        width: 100px;
                        height: 100%;
                        float: right;
                        margin-right: 20px;
                        margin-bottom: 20px;
                        background-color: $lightgrey;
                        position: relative;

                        &__container {
                            background-color: $orange;
                            height: 50px;
                            border-radius: 50%;
                            text-align: center;
                            padding-top: 15px;
                            width: 50px;
                            bottom: 0;
                            right: 0;
                            vertical-align: text-bottom;
                            position: absolute;
                        }
                    }

                    &__3 {
                        width: 100px;
                        height: 100%;
                        background-color: $lightgrey;
                        position: relative;

                        &__container {
                            background-color: $orange;
                            height: 50px;
                            border-radius: 50%;
                            text-align: center;
                            padding-top: 17px;
                            width: 50px;
                            bottom: 0;
                            right: 0;
                            vertical-align: text-bottom;
                            position: absolute;
                        }
                    }
                }
            }
        }
    }


    .footer {
        padding-bottom: 100px;
        padding-left: $margin-side-small-tablet;
        padding-right: $margin-side-small-tablet;
    
        &__brand {
            &__upsection {
                display: inline;
                float: right;

                &__background {
                    background-color: $lightgrey;
                    padding: 12px;
                    border-radius: 50%;
                    margin-top: 100px;
                    margin-right: $margin-side;

                    &__icon {
                        color: $orange;
                        font-size: $button-font-size-mobile;
                    }
                }
            }

            &__upsection2 {
                display: none;

                &__background:hover {
                    background-color: $grey;
                    transition: 0.5s;
                }
            }
    
            &__socials {
                margin-left: 0;

                &__background:first-child {
                    margin-left: 0;
                }
            }
        }
    }
}





/* __SMALL PC / TABLET LANDSCAPE__ */
@media only screen and (min-width: 1024px) {
    .footer {
        &__brand {
            &__upsection {
                display: none;
            }

            &__upsection2 {
                display: inline;
                float: right;
        
                &__background {
                    padding: 12px;
                    border-radius: 50%;
                    margin-top: 100px;
                    margin-right: 0;
                    background-color: $lightgrey;
        
                    &__icon {
                        color: $orange;
                        font-size: $button-font-size-mobile;
                    }
                }

                &__background:hover {
                    background-color: $grey;
                    transition: 0.5s;
                }
            }
        }
    }
}