.top {
    &__nav {
        &__links {
            position: fixed;
            right: 0;
            top: 0px;
            height: 100vh;
            width: 100%;
            transform: translateX(100%);
            margin: 0;
            padding: 0;
            transition: transform 0.5s ease-in;

            &__list {
                display: flex;
                flex-direction: column;
                align-items: center;
                background-color: $black;
                height: 100vh;

                &__a:first-child {
                    margin-top: 100px;
                }

                &__a:last-child {
                    margin-bottom: 50px;
                }

                &__a {
                    text-decoration: none;
                    margin-top: 50px;
                    color: $lightgrey;

                    &__item {
                        list-style-type: none;
                        font-size: $menu-item-font-size-mobile;
                        font-family: $raleway;
                        font-weight: 700;
                        opacity: 0;
                    }
                }
            }
        }
    }
}

/* MOBILE NAV ANIMATION */
    //SLIDES NAV LINKS IN
    .nav-active {
        transform: translateX(0%);
    }

    //KEYFRAMES FOR EACH INDIVIDUAL LINK FADE IN
    @keyframes navLinkFade {
        from {
            opacity: 0;
            transform: translateX(50px);
        }
        to {
            opacity: 1;
            transform: translateX(0px);
        }
    }





/* __TABLET PORTRAIT__ */
@media only screen and (min-width: 768px) {
    //Nothing to add. Just for structure.
}





/* __SMALL PC / TABLET LANDSCAPE__ */
@media only screen and (min-width: 1024px) {
    //Nothing to add. Just for structure.
}





/* __DESKTOP__ */
@media only screen and (min-width: 1281px) {
    .top {
        &__nav {
            &__links {
                position: static;
                display: flex;
                justify-content: space-evenly;
                transform: translateX(0%);
                transition: transform 0.5s ease-in;
                width: 50%;
                height: 85px;

                &__list {
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-end;
                    background-color: $lightgrey;
                    height: 85px;
                    width: 100%;
                    margin-right: 140px;

                    &__a:first-child {
                        margin-top: 50px;
                    }

                    &__a:last-child {
                        margin-bottom: 0px;
                        margin-right: 0;
                    }

                    &__a {
                        color: $black;
                        margin-right: 100px;

                        &__item {
                            font-size: $menu-item-font-size-desktop;
                            opacity: 1;
                        }
                    }

                    &__a:hover {
                        color: $darkgrey;
                        transition: 0.5s;
                    }
                }
            }
        }
    }
}





/* __MONITOR QHD__ */
@media only screen and (min-width: 1921px) {
    .top {
        &__nav {
            &__links {
                &__list {
                    margin-right: $margin-side-small-monitor-qhd;
                }
            }
        }
    }
}





/* __MONITOR 4K__ */
@media only screen and (min-width: 3199px) {
    .top {
        &__nav {
            &__links {
                &__list {
                    margin-right: $margin-side-small-monitor-4k;
                }
            }
        }
    }
}