.about {
    &__flexcontainer {
        &__p {
            font-size: $p-font-size-mobile;
            font-family: $ubuntu;
            color: $lightgrey;
            line-height: $line-height-mobile;
            margin: $big-p-margin-mobile;
            letter-spacing: $letter-spacing-medium;
        }
    }
}


.skills {
    &__items {
        &__item {
            &__p {
                font-size: $p-font-size-mobile;
                font-family: $ubuntu;
                color: $black;
                padding: $small-p-margin-mobile;
                line-height: $line-height-mobile;
                padding-bottom: 0;
                letter-spacing: $letter-spacing-medium;
                
                &__extra {
                    font-size: $p-font-size-mobile;
                    font-family: $ubuntu;
                    color: $black;
                    padding: $small-p-margin-mobile;
                    line-height: $line-height-mobile;
                    padding-bottom: 0;
                    margin-bottom: 20px;
                    letter-spacing: $letter-spacing-medium;
                }
            }
        }
    }
}


.projects {
    &__items {
        &__item {
            &__p {
                font-size: $p-font-size-mobile;
                font-family: $ubuntu;
                padding: $small-p-margin-mobile;
                color: $black;
                font-weight: 400;
                line-height: $line-height-mobile;
                letter-spacing: $letter-spacing-medium;
                margin-bottom: 15px;
                padding-top: 15px;
            }
        }
    }
}


.contact {
    &__formsection {
        &__flexcontainer{
            &__text {
                font-size: $p-font-size-mobile;
                font-family: $ubuntu;
                color: $black;
                line-height: $line-height-mobile;
                margin: 20px 20px 30px 20px;
                letter-spacing: $letter-spacing-medium;
            }

            &__contactlinks {
                display: flex;
                flex-direction: column;
                justify-content: center;

                &__link {
                    font-size: $p-font-size-mobile;
                    color: $black;
                    font-family: $rubik;
                    margin: 0px 0px 10px 20px;
                    padding: 10px 12px 10px 12px;
                    font-weight: 700;
                    text-decoration: underline;
                    padding-left: 0;
                }

                &__link:first-child {
                    margin-bottom: 0;
                    padding-bottom: 0;
                }

                &__link:hover {
                    color: $darkgrey;
                    transition: 0.5s;
                }
            }
        }
    }
}





/* __TABLET PORTRAIT__ */
@media only screen and (min-width: 768px) {
    .about {
        &__flexcontainer {
            &__p {
                font-size: $p-font-size-tablet;
                margin: $big-p-margin-desktop;
                letter-spacing: $letter-spacing-medium;
                padding-right: 0;
                margin-bottom: 0;
                margin-left: $margin-side-big-tablet;
                margin-right: $margin-side-big-tablet;
            }
        }
    }


    .skills {
        &__items {
            &__item {
                &__p {
                    font-size: $p-font-size-tablet;
                    padding: $small-p-margin-desktop;
                    padding-top: 20px;
                    
                    &__extra {
                        font-size: $p-font-size-tablet;
                        padding: $small-p-margin-desktop;
                        padding-bottom: 0; 
                        padding-top: 20px;
                    }
                }
            }
        }
    }


    .projects {
        &__items {
            &__item {
                &__p {
                    padding: $small-p-margin-desktop;
                    line-height: $line-height-desktop;
                    letter-spacing: $letter-spacing-medium;
                    margin-bottom: 0px;
                    padding-top: 0px;
                }
            }
        }
    }


    .contact {
        &__formsection {
            &__flexcontainer{
                &__text {
                    font-size: $p-font-size-tablet;
                    line-height: $line-height-desktop;
                    margin: 20px 100px 30px 100px;
                }
    
                &__contactlinks {
                    &__link {
                        font-size: $p-big-font-size-desktop;
                        margin: 0px 100px 10px 100px;
                        padding: 10px 0px 10px 12px;
                    }
    
                    &__link:first-child {
                        margin-bottom: 0;
                        padding-bottom: 0;
                    }
                }
            }
        }
    }
}





/* __SMALL PC / TABLET LANDSCAPE__ */
@media only screen and (min-width: 1024px) {
    .about {
        &__flexcontainer {
            &__p {
                padding-right: 100px;
                margin-right: 0;
                margin-left: $margin-side-big-smallpc;
            }
        }
    }


    .contact {
        &__formsection {
            &__flexcontainer{
                &__text {
                    font-size: $p-big-font-size-desktop;
                    line-height: $line-height-desktop;
                    margin: 20px 150px 30px 100px;
                }
    
                &__contactlinks {
                    &__link {
                        font-size: $p-big-font-size-desktop;
                        margin: 0px 150px 10px 100px;
                        padding: 10px 0px 10px 0px;
                    }
                }
            }
        }
    }
}





/* __DESKTOP__ */
@media only screen and (min-width: 1281px) {
    .about {
        &__flexcontainer {
            &__p {
                font-size: $p-big-font-size-desktop;
                line-height: $line-height-desktop;
                margin: $big-p-margin-desktop;
                letter-spacing: $letter-spacing-medium;
                margin-bottom: 0;
            }
        }
    }


    .contact {
        &__formsection {
            &__flexcontainer{
                &__text {
                    margin: 100px 278px 30px 100px;
                }
    
                &__contactlinks {
                    &__link {
                        margin: 0px 278px 10px 100px;
                    }
                }
            }
        }
    }
}





/* __MONITOR QHD__ */
@media only screen and (min-width: 1921px) {
    .about {  
        &__flexcontainer {
            &__p {
                margin-left: $margin-side-big-monitor-qhd;
            }
        }
    }


    .contact {
        &__formsection {
            &__flexcontainer{
                &__text {
                    margin: 100px 598px 30px 100px;
                }
    
                &__contactlinks {
                    &__link {
                        margin: 0px 598px 10px 100px;
                    }
                }
            }
        }
    }
}





/* __MONITOR 4K__ */
@media only screen and (min-width: 3199px) {
    .about {
        &__flexcontainer {
            &__p {
                margin-left: $margin-side-big-monitor-4k;
            }
        }
    }


    .contact {
        &__formsection {
            &__flexcontainer{
                &__text {
                    margin: 100px 1238px 30px 100px;
                }
    
                &__contactlinks {
                    &__link {
                        margin: 0px 1238px 10px 100px;
                    }
                }
            }
        }
    }
}