.about {
    background-color: $black;
}





/* __TABLET PORTRAIT__ */
@media only screen and (min-width: 768px) {
    .about {
        &__flexcontainer {
            padding-bottom: 100px;
        }
    }
}





/* __SMALL PC / TABLET LANDSCAPE__ */
@media only screen and (min-width: 1024px) {
    .about {
        &__flexcontainer {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }
    }
}





/* __DESKTOP__ */
@media only screen and (min-width: 1281px) {
    //Nothing to add. Just for structure.
}





/* __MONITOR QHD__ */
@media only screen and (min-width: 1921px) {
    //Nothing to add. Just for structure.
}





/* __MONITOR 4K__ */
@media only screen and (min-width: 3199px) {
    //Nothing to add. Just for structure.
}