.footer {
    padding-bottom: 50px;

    &__brand {
        &__h3 {
            display: inline-block;
            font-family: $raleway;
            color: $lightgrey;
            padding: $h3-margin-mobile;
            letter-spacing: $letter-spacing-big;
            padding-bottom: 25px;
            font-weight: 700;
            font-size: 25px;
        }

        &__upsection {
            display: inline;
            float: right;

            &__background {
                background-color: $lightgrey;
                padding: 12px;
                border-radius: 50%;
                margin-top: 50px;
                margin-right: $margin-side;

                &__icon {
                    color: $orange;
                    font-size: $button-font-size-mobile;
                }
            }

            &__background:hover {
                background-color: $grey;
                transition: 0.5s;
            }
        }

        &__upsection2 {
            display: none;
        }

        &__socials {
            display: block;
            margin-left: $margin-side;

            &__background {
                display: inline;
                margin-left: 5px;

                &__a {
                    font-size: $button-font-size-mobile;
                    color: $lightgrey;
                }

                &__a:hover {
                    color: $grey;
                    transition: 0.5s;
                }
            }
        }
    }

    &__linksection {
        &__h4 {
            font-size: $h4-font-size-mobile;
            font-family: $ubuntu;
            color: $lightgrey;
            padding: $h4-margin-mobile;
        }

        &__links {
            &__link {
                text-decoration: none;
                color: $lightgrey;
                padding: 8px 20px 0px 20px;
                display: block;
                font-size: $p-font-size-mobile;
                font-family: $ubuntu;
                font-weight: 500;
            }

            &__link:hover {
                color: $grey;
                transition: 0.5s;
            }
        }
    }

    &__contactsection {
        &__h4 {
            font-size: $h4-font-size-mobile;
            font-family: $ubuntu;
            color: $lightgrey;
            padding: $h4-margin-mobile;
        }

        &__links {
            &__link {
                text-decoration: underline;
                color: $lightgrey;
                padding: 8px 20px 0px 20px;
                display: block;
                font-size: $p-font-size-mobile;
                font-family: $ubuntu;
                font-weight: 500;
            }

            &__link:hover {
                color: $grey;
                transition: 0.5s;
            }
        }
    }
}

/* __TABLET__ */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .footer {
        padding-bottom: 100px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-left: $margin-side-small-tablet;
        padding-right: $margin-side-small-tablet;
    
        &__brand {
            &__h3 {
                padding: $h3-margin-desktop;
                padding-bottom: 25px;
                font-size: 25px;
                padding-left: 0;
                padding-top: 100px;
            }
    
            &__upsection {
                display: none;
            }

            &__upsection2 {
                display: inline;
                float: right;
        
                &__background {
                    padding: 12px;
                    border-radius: 50%;
                    margin-top: 100px;
                    margin-right: 0;
                    background-color: $lightgrey;
        
                    &__icon {
                        color: $orange;
                        font-size: $button-font-size-mobile;
                    }
                }

                &__background:hover {
                    background-color: $grey;
                    transition: 0.5s;
                }
            }
    
            &__socials {
                margin-left: 0;

                &__background:first-child {
                    margin-left: 0;
                }
            }
        }
    
        &__linksection {
            &__h4 {
                font-size: $h4-font-size-mobile;
                padding: $h4-margin-mobile;
                padding-bottom: 25px;
                padding-top: 100px;
            }
    
            &__links {
                &__link {
                    text-decoration: none;
                    color: $lightgrey;
                    padding: 8px 20px 0px 20px;
                    display: block;
                    font-size: $p-font-size-mobile;
                    font-family: $ubuntu;
                    font-weight: 500;
                }

                &__link:first-child {
                    padding-top: 0px;
                }
            }
        }
    
        &__contactsection {
            &__h4 {
                font-size: $h4-font-size-mobile;
                font-family: $ubuntu;
                color: $lightgrey;
                padding: $h4-margin-mobile;
                padding-top: 100px;
            }
    
            &__links {
                &__link {
                    text-decoration: underline;
                    color: $lightgrey;
                    padding: 8px 20px 0px 20px;
                    display: block;
                    font-size: $p-font-size-mobile;
                    font-family: $ubuntu;
                    font-weight: 500;
                }
            }
        }
    }
}

/* __SMALL PC__ */
@media only screen and (min-width: 1025px) and (max-width: 1280px) {
    .footer {
        padding-bottom: 100px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-left: $margin-side-big-smallpc;
        padding-right: $margin-side-big-smallpc;
    
        &__brand {
            &__h3 {
                padding: $h3-margin-desktop;
                padding-bottom: 25px;
                font-size: 25px;
                padding-left: 0;
                padding-top: 100px;
            }
    
            &__upsection {
                display: none;
            }

            &__upsection2 {
                display: inline;
                float: right;
        
                &__background {
                    padding: 12px;
                    border-radius: 50%;
                    margin-top: 100px;
                    margin-right: 0;
                    background-color: $lightgrey;
        
                    &__icon {
                        color: $orange;
                        font-size: $button-font-size-mobile;
                    }
                }

                &__background:hover {
                    background-color: $grey;
                    transition: 0.5s;
                }
            }
    
            &__socials {
                margin-left: 0;

                &__background:first-child {
                    margin-left: 0;
                }
            }
        }
    
        &__linksection {
            &__h4 {
                font-size: $h4-font-size-mobile;
                padding: $h4-margin-mobile;
                padding-bottom: 25px;
                padding-top: 100px;
            }
    
            &__links {
                &__link {
                    text-decoration: none;
                    color: $lightgrey;
                    padding: 8px 20px 0px 20px;
                    display: block;
                    font-size: $p-font-size-mobile;
                    font-family: $ubuntu;
                    font-weight: 500;
                }

                &__link:first-child {
                    padding-top: 0px;
                }
            }
        }
    
        &__contactsection {
            &__h4 {
                font-size: $h4-font-size-mobile;
                font-family: $ubuntu;
                color: $lightgrey;
                padding: $h4-margin-mobile;
                padding-top: 100px;
            }
    
            &__links {
                &__link {
                    text-decoration: underline;
                    color: $lightgrey;
                    padding: 8px 20px 0px 20px;
                    display: block;
                    font-size: $p-font-size-mobile;
                    font-family: $ubuntu;
                    font-weight: 500;
                }
            }
        }
    }
}

@media only screen and (min-width: 1281px) {
    .footer {
        padding-bottom: 100px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-left: 140px;
        padding-right: 140px;
    
        &__brand {
            &__h3 {
                padding: $h3-margin-desktop;
                padding-bottom: 25px;
                font-size: 25px;
                padding-left: 0;
                padding-top: 100px;
            }
    
            &__upsection {
                display: none;
            }

            &__upsection2 {
                display: inline;
                float: right;
        
                &__background {
                    padding: 12px;
                    border-radius: 50%;
                    margin-top: 100px;
                    margin-right: 0;
                    background-color: $lightgrey;
        
                    &__icon {
                        color: $orange;
                        font-size: $button-font-size-mobile;
                    }
                }

                &__background:hover {
                    background-color: $grey;
                    transition: 0.5s;
                }
            }
    
            &__socials {
                margin-left: 0;

                &__background:first-child {
                    margin-left: 0;
                }
            }
        }
    
        &__linksection {
            &__h4 {
                font-size: $h4-font-size-mobile;
                padding: $h4-margin-mobile;
                padding-bottom: 25px;
                padding-top: 100px;
            }
    
            &__links {
                &__link {
                    text-decoration: none;
                    color: $lightgrey;
                    padding: 8px 20px 0px 20px;
                    display: block;
                    font-size: $p-font-size-mobile;
                    font-family: $ubuntu;
                    font-weight: 500;
                }

                &__link:first-child {
                    padding-top: 0px;
                }
            }
        }
    
        &__contactsection {
            &__h4 {
                font-size: $h4-font-size-mobile;
                font-family: $ubuntu;
                color: $lightgrey;
                padding: $h4-margin-mobile;
                padding-top: 100px;
            }
    
            &__links {
                &__link {
                    text-decoration: underline;
                    color: $lightgrey;
                    padding: 8px 20px 0px 20px;
                    display: block;
                    font-size: $p-font-size-mobile;
                    font-family: $ubuntu;
                    font-weight: 500;
                }
            }
        }
    }
}

/* __MONITOR QHD__ */
@media only screen and (min-width: 1921px) and (max-width: 2560px) {
    .footer {
        padding-bottom: 100px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-left: $margin-side-small-monitor-qhd;
        padding-right: $margin-side-small-monitor-qhd;
    
        &__brand {
            &__h3 {
                padding: $h3-margin-desktop;
                padding-bottom: 25px;
                font-size: 25px;
                padding-left: 0;
                padding-top: 100px;
            }
    
            &__upsection {
                display: none;
            }

            &__upsection2 {
                display: inline;
                float: right;
        
                &__background {
                    padding: 12px;
                    border-radius: 50%;
                    margin-top: 100px;
                    margin-right: 0;
                    background-color: $lightgrey;
        
                    &__icon {
                        color: $orange;
                        font-size: $button-font-size-mobile;
                    }
                }

                &__background:hover {
                    background-color: $darkgrey;
                    transition: 0.5s;
                }
            }
    
            &__socials {
                margin-left: 0;

                &__background:first-child {
                    margin-left: 0;
                }
            }
        }
    
        &__linksection {
            &__h4 {
                font-size: $h4-font-size-mobile;
                padding: $h4-margin-mobile;
                padding-bottom: 25px;
                padding-top: 100px;
            }
    
            &__links {
                &__link {
                    text-decoration: none;
                    color: $lightgrey;
                    padding: 8px 20px 0px 20px;
                    display: block;
                    font-size: $p-font-size-mobile;
                    font-family: $ubuntu;
                    font-weight: 500;
                }

                &__link:first-child {
                    padding-top: 0px;
                }
            }
        }
    
        &__contactsection {
            &__h4 {
                font-size: $h4-font-size-mobile;
                font-family: $ubuntu;
                color: $lightgrey;
                padding: $h4-margin-mobile;
                padding-top: 100px;
            }
    
            &__links {
                &__link {
                    text-decoration: underline;
                    color: $lightgrey;
                    padding: 8px 20px 0px 20px;
                    display: block;
                    font-size: $p-font-size-mobile;
                    font-family: $ubuntu;
                    font-weight: 500;
                }
            }
        }
    }
}

/* __MONITOR 4K__ */
@media only screen and (min-width: 2561px) {
    .footer {
        padding-bottom: 100px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-left: $margin-side-small-monitor-4k;
        padding-right: $margin-side-small-monitor-4k;
    
        &__brand {
            &__h3 {
                padding: $h3-margin-desktop;
                padding-bottom: 25px;
                font-size: 25px;
                padding-left: 0;
                padding-top: 100px;
            }
    
            &__upsection {
                display: none;
            }

            &__upsection2 {
                display: inline;
                float: right;
        
                &__background {
                    padding: 12px;
                    border-radius: 50%;
                    margin-top: 100px;
                    margin-right: 0;
                    background-color: $lightgrey;
        
                    &__icon {
                        color: $orange;
                        font-size: $button-font-size-mobile;
                    }
                }

                &__background:hover {
                    background-color: $darkgrey;
                    transition: 0.5s;
                }
            }
    
            &__socials {
                margin-left: 0;

                &__background:first-child {
                    margin-left: 0;
                }
            }
        }
    
        &__linksection {
            &__h4 {
                font-size: $h4-font-size-mobile;
                padding: $h4-margin-mobile;
                padding-bottom: 25px;
                padding-top: 100px;
            }
    
            &__links {
                &__link {
                    text-decoration: none;
                    color: $lightgrey;
                    padding: 8px 20px 0px 20px;
                    display: block;
                    font-size: $p-font-size-mobile;
                    font-family: $ubuntu;
                    font-weight: 500;
                }

                &__link:first-child {
                    padding-top: 0px;
                }
            }
        }
    
        &__contactsection {
            &__h4 {
                font-size: $h4-font-size-mobile;
                font-family: $ubuntu;
                color: $lightgrey;
                padding: $h4-margin-mobile;
                padding-top: 100px;
            }
    
            &__links {
                &__link {
                    text-decoration: underline;
                    color: $lightgrey;
                    padding: 8px 20px 0px 20px;
                    display: block;
                    font-size: $p-font-size-mobile;
                    font-family: $ubuntu;
                    font-weight: 500;
                }
            }
        }
    }
}