.footer {
    padding-bottom: 50px;
    background-color: $orange;
}





/* __TABLET PORTRAIT__ */
@media only screen and (min-width: 768px) {
    .footer {
        padding-bottom: 100px;
        padding-left: $margin-side-small-tablet;
        padding-right: $margin-side-small-tablet;
    }
}





/* __SMALL PC / TABLET LANDSCAPE__ */
@media only screen and (min-width: 1024px) {
    .footer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-left: $margin-side-small-smallpc;
        padding-right: $margin-side-small-smallpc;
    }
}





/* __DESKTOP__ */
@media only screen and (min-width: 1281px) {
    .footer {
        padding-left: $margin-side-small-desktop;
        padding-right: $margin-side-small-desktop;
    }
}





/* __MONITOR QHD__ */
@media only screen and (min-width: 1921px) {
    .footer {
        padding-left: $margin-side-small-monitor-qhd;
        padding-right: $margin-side-small-monitor-qhd;
    }
}





/* __MONITOR 4K__ */
@media only screen and (min-width: 3199px) {
    .footer {
        padding-left: $margin-side-small-monitor-4k;
        padding-right: $margin-side-small-monitor-4k;
    }
}