.projects {
    background-color: $lightgrey;

    &__titlesection {
        &__h4 {
            font-size: $h4-font-size-mobile;
            font-family: $rubik;
            color: $black;
            padding: $h4-margin-mobile;
            letter-spacing: $letter-spacing-big;
        }

        &__dash {
            display: inline-block;
            width: $dash-width-mobile;
            height: $dash-height-mobile;
            margin: $dash-margin-mobile;
            background-color: $orange;
            border-radius: $border-radius;
        }
    }

    &__items {
        padding: 0px 20px 50px 20px;

        &__item {
            background-color: $white;
            border-radius: $border-radius;
            margin-top: 30px;
            padding-bottom: 30px;
            
            &__image {
                text-align: center;

                &__img {
                    height: 115px;
                    margin: 40px auto 30px auto;
                }
            }

            &__h5 {
                font-size: $h5-font-size-mobile;
                font-family: $ubuntu;
                padding: $h5-margin-mobile;
                color: $black;
                font-weight: 700;
            }

            &__p {
                font-size: $p-font-size-mobile;
                font-family: $ubuntu;
                padding: $small-p-margin-mobile;
                color: $black;
                font-weight: 400;
                line-height: $line-height-mobile;
                letter-spacing: $letter-spacing-medium;
                margin-bottom: 15px;
                padding-top: 15px;
            }

            &__button:last-child {
                margin-left: 8px;
            }

            &__button {
                background-color: $orange;
                padding: $button-padding-mobile;
                margin: $button-margin-mobile;
                text-decoration: none;
                color: $lightgrey;
                font-weight: 700;
                font-size: $button-font-size-mobile;
                font-family: $rubik;
                border-radius: $border-radius;

                &__extra {
                    background-color: $orange;
                    padding: $button-padding-mobile;
                    margin: $button-margin-mobile;
                    text-decoration: none;
                    color: $lightgrey;
                    font-weight: 700;
                    font-size: $button-font-size-mobile;
                    font-family: $rubik;
                    border-radius: $border-radius;
                    margin-left: 20px;

                    i {
                        padding-right: 4px;
                    }
                }

                &__extra:hover {
                    background-color: $lightgrey;
                    color: $black;
                    border: 1px solid $black;
                    transition: 0.5s;
                }

                i {
                    padding-right: 4px;
                }
            }

            &__button:hover {
                background-color: $lightgrey;
                color: $black;
                border: 1px solid $black;
                transition: 0.5s;
            }
        }

        &__item:first-child {
            margin-top: 15px;
        }
    }
}

/* __TABLET__ */
@media only screen and (min-width: 768px) {
    .projects {
        &__titlesection {
            &__h4 {
                font-size: $h4-font-size-tablet;
                padding: $h4-margin-desktop;
                padding-left: $margin-side-big-tablet;
            }
    
            &__dash {
                margin: $dash-margin-desktop;
                margin-left: $margin-side-big-tablet;
            }
        }
    
        &__items {
            display: grid;
            grid-template-columns: 50% 50%;
            grid-template-areas: "project1 project2"
                                 "project3 project4";
            
            grid-gap: 25px;
            padding: 0px 100px 100px 100px;

            #project1 {
                grid-area: project1;
            }

            #project2 {
                grid-area: project2;
            }

            #project3 {
                grid-area: project3;
            }

            #project4 {
                grid-area: project4;
            }
    
            &__item {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                margin-top: 0px;
                padding-bottom: 40px;
    
                &__h5 {
                    font-size: $h5-font-size-desktop;
                    padding: $h5-margin-desktop;
                }
    
                &__p {
                    padding: $small-p-margin-desktop;
                    line-height: $line-height-desktop;
                    letter-spacing: $letter-spacing-medium;
                    margin-bottom: 0px;
                    padding-top: 0px;
                }
    
                &__button {
                    margin-left: 30px;
    
                    &__extra {
                        margin-left: 30px;
    
                        i {
                            padding-right: 4px;
                        }
                    }
                }
            }

            &__item:hover {
                div {
                    img {
                        opacity: 1;
                        transition: 0.5s;
                    }
                }
            }
    
            &__item:first-child {
                margin-top: 0px;
            }
        }
    }
}





/* __SMALL PC__ */
@media only screen and (min-width: 1025px) {
    .projects {
        &__titlesection {
            &__h4 {
                padding-left: $margin-side-big-smallpc;
            }
    
            &__dash {
                margin-left: $margin-side-big-smallpc;
            }
        }
    
        &__items {
            padding: 0px $margin-side-big-smallpc 100px $margin-side-big-smallpc;
    
            &__item {
                &__image {
                    &__img {
                        opacity: 0.3;
                    }
                }
            }

            &__item:hover {
                div {
                    img {
                        opacity: 1;
                        transition: 0.5s;
                    }
                }
            }
        }
    }
}





/* __DESKTOP__ */
@media only screen and (min-width: 1281px) {
    .projects {
        &__titlesection {
            &__h4 {
                font-size: $h4-font-size-desktop;
                padding: $h4-margin-desktop;
            }
    
            &__dash {
                margin: $dash-margin-desktop;
            }
        }
    
        &__items {
            padding: 0px 278px 100px 278px;
        }
    }
}





/* __MONITOR QHD__ */
@media only screen and (min-width: 1921px) {
    .projects {
        &__titlesection {
            &__h4 {
                padding-left: $margin-side-big-monitor-qhd;
            }
    
            &__dash {
                margin-left: $margin-side-big-monitor-qhd;
            }
        }
    
        &__items {
            padding: 0px 598px 100px 598px;
        }
    }
}





/* __MONITOR 4K__ */
@media only screen and (min-width: 2561px) {
    .projects {
        &__titlesection {
            &__h4 {
                padding-left: $margin-side-big-monitor-4k;
            }
    
            &__dash {
                margin-left: $margin-side-big-monitor-4k;
            }
        }
    
        &__items {
            padding: 0px 1238px 100px 1238px;
        }
    }
}