/* __SCROLL DOWN ANIMATION__ */
.scrolldown {
    position: relative;
    bottom: 0px;
    left: 50%;
    width: 15px;
    height: 15px;
    transform: translateY(-80px) translateX(-50%) rotate(45deg);
    top: 25vh;

    span {
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        width: 100%;
        height: 100%;
        border-bottom: 4px solid $black;
        border-right: 4px solid $black;
        animation: animate 1.5s linear infinite;
        opacity: 0;
    }

    span:nth-child(1) {
        transform: translate(-15px,-15px);
        animation-delay: -0.4s;
    }

    span:nth-child(2) {
        transform: translate(0,0);
        animation-delay: -0.2s;
    }

    span:nth-child(3) {
        transform: translate(15px,15px);
        animation-delay: 0s;
    }
}

/* KEYFRAMES SCROLLING ANIMATION */
@keyframes animate {
    0%{
        top: -5px;
        left: -5px;
        opacity: 0;
    }
    25%{
        top: 0px;
        left: 0px;
        opacity: 1;
    }
    50%, 100%{
        top: 5px;
        left: 5px;
        opacity: 0;
    }
}





/* __SMALL PC__ */
@media only screen and (min-width: 1025px) and (max-width: 1280px) {
    .scrolldown {
        top: 33vh;
    }
}





/* __DESKTOP__ */
@media only screen and (min-width: 1281px) {
    .scrolldown {
        top: 23vh;
    }
}





/* __MONITOR QHD__ */
@media only screen and (min-width: 1921px) {
    .scrolldown {
        top: 30vh;
    }
}





/* __MONITOR 4K__ */
@media only screen and (min-width: 3199px) {
    .scrolldown {
        top: 36vh;
    }
}