.skills {
    background-color: $white;

    &__items {
        padding-bottom: 50px;

        &__item {
            margin-left: $margin-side;
            margin-right: $margin-side;
            background-color: $lightgrey;
            border-radius: $border-radius;
            margin-top: 30px;
            padding-bottom: 70px;
        }
    }
}





/* __TABLET PORTRAIT__ */
@media only screen and (min-width: 768px) {
    .skills {
        &__items {
            padding: 0px 0px 100px 0px;
    
            &__item {
                margin-left: $margin-side-big-tablet;
                margin-right: $margin-side-big-tablet;
                margin-top: 30px;
            }
        }
    }
}





/* __SMALL PC / TABLET LANDSCAPE__ */
@media only screen and (min-width: 1024px) {
    .skills {
        &__items {
            display: grid;
            grid-template-columns: 50% 50%;
            grid-template-areas: "skill1 skill2"
                                   "skill3 skill4";

            padding: 0px $margin-side-big-smallpc 100px $margin-side-big-smallpc;
            grid-gap: 25px;
            
            #skill1 {
                grid-area: skill1;
            }

            #skill2 {
                grid-area: skill2;
            }

            #skill3 {
                grid-area: skill3;
            }

            #skill4 {
                grid-area: skill4;
            }
    
            &__item {
                display: flex;
                flex-direction: row;
                padding-bottom: 20px;
                margin: 0;
            }
        }
    }
}





/* __DESKTOP__ */
@media only screen and (min-width: 1281px) {
    .skills {
        &__items {
            padding: 0px 278px 100px 278px;
        }
    }
}





/* __MONITOR QHD__ */
@media only screen and (min-width: 1921px) {
    .skills {
        &__items {
            padding: 0px 598px 100px 598px;
    
        }
    }
}





/* __MONITOR 4K__ */
@media only screen and (min-width: 3199px) {
    .skills {
        &__items {
            padding: 0px 1238px 100px 1238px;
        }
    }
}