.skills {
    &__titlesection {
        &__h4 {
            font-size: $h4-font-size-mobile;
            font-family: $rubik;
            color: $black;
            padding: $h4-margin-mobile;
            letter-spacing: 1px;
        }

        &__dash {
            display: inline-block;
            width: $dash-width-mobile;
            height: $dash-height-mobile;
            margin: $dash-margin-mobile;
            background-color: $orange;
            border-radius: $border-radius;
        }
    }

    &__items {
        padding-bottom: 50px;

        &__item {
            margin-left: $margin-side;
            margin-right: $margin-side;
            background-color: $lightgrey;
            border-radius: $border-radius;
            margin-top: 25px;
            padding-bottom: 70px;

            &__h5 {
                font-size: $h5-font-size-mobile;
                font-family: $ubuntu;
                color: $black;
                padding: $h5-margin-mobile;
            }

            &__tags {
                display: block;
                margin-left: $margin-side;
                margin-right: $margin-side;
                line-height: 30px;
                
                &__tag {
                    font-size: $tag-font-size-mobile;
                    font-family: $ubuntu;
                    padding: $tag-padding-mobile;
                    background-color: $orange;
                    font-weight: 700;
                    color: $lightgrey;
                    border-radius: 5px;
                }
            }

            &__tags2 {
                margin-bottom: 20px;
            }

            &__p {
                font-size: $p-font-size-mobile;
                font-family: $ubuntu;
                color: $black;
                padding: $small-p-margin-mobile;
                line-height: $line-height-mobile;
                padding-bottom: 0;
                letter-spacing: 0.75px;
                
                &__extra {
                    font-size: $p-font-size-mobile;
                    font-family: $ubuntu;
                    color: $black;
                    padding: $small-p-margin-mobile;
                    line-height: $line-height-mobile;
                    padding-bottom: 0;
                    margin-bottom: 20px;
                }
            }

            &__h6 {
                font-size: $h6-font-size-mobile;
                font-family: $ubuntu;
                color: $black;
                padding: $h6-margin-mobile;
            }

            &__background {
                display: block;
                width: 50px;
                height: 50px;
                background-color: $orange;
                border-radius: 50%;
                text-align: center;
                padding-top: 18px;
                float: right;
                margin-right: 20px;
                margin-bottom: 20px;

                &__2 {
                    display: block;
                    width: 50px;
                    height: 50px;
                    background-color: $orange;
                    border-radius: 50%;
                    text-align: center;
                    padding-top: 16px;
                    float: right;
                    margin-right: 20px;
                    margin-bottom: 20px;
                }

                &__3 {
                    display: block;
                    width: 50px;
                    height: 50px;
                    background-color: $orange;
                    border-radius: 50%;
                    text-align: center;
                    padding-top: 14px;
                    float: right;
                    margin-right: 20px;
                    margin-bottom: 20px;
                }

                &__4 {
                    display: block;
                    width: 50px;
                    height: 50px;
                    background-color: $orange;
                    border-radius: 50%;
                    text-align: center;
                    padding-top: 12px;
                    float: right;
                    margin-right: 20px;
                    margin-bottom: 20px;
                }
            }
        }
    }
}