//Nothing to add. Just for structure.





/* __TABLET PORTRAIT__ */
@media only screen and (min-width: 768px) {
    .top {
        &__header {
            &__flexcontainer {
                margin-top: 10vh;
            }
        }
    }
}





/* __SMALL PC / TABLET LANDSCAPE__ */
@media only screen and (min-width: 1024px) {
    .top {
        &__header {
            &__flexcontainer {
                display: flex;
                flex-direction: row-reverse;
                justify-content: space-between;
                margin-top: 18vh;
            }
        }
    }
}




/* __DESKTOP__ */
@media only screen and (min-width: 1281px) {
    .top {
        &__header {
            &__flexcontainer {
                margin-top: 23vh;
            }
        }
    }
}





/* __MONITOR QHD__ */
@media only screen and (min-width: 1921px) {
    .top {
        &__header {
            &__flexcontainer {
                margin-top: 27vh;
            }
        }
    }
}





/* __MONITOR 4K__ */
@media only screen and (min-width: 3199px) {
    .top {
        &__header {
            &__flexcontainer {
                margin-top: 33vh;
            }
        }
    }
}