.top {
    background-color: $lightgrey;
}

.about {
    background-color: $black;
}

.skills {
    background-color: $white;
}

.projects {
    background-color: $lightgrey;
}

.contact {
    background-color: $white;
}

.footer {
    background-color: $orange;
}