/* __FONTS__ */

$rubik: 'Rubik', sans-serif;
$raleway: 'Raleway', sans-serif;
$ubuntu: 'Ubuntu', sans-serif;





/* __FONT-SIZES__ */

    /* MOBILE */

    $h1-font-size-mobile: 25px;
    $h2-font-size-mobile: 20px;
    $h3-font-size-mobile: 20px;
    $h4-font-size-mobile: 25px;
    $h5-font-size-mobile: 20px;
    $h6-font-size-mobile: 18px;

    $h4-footer-font-size-mobile: 20px;
    
    $menu-item-font-size-mobile: 24px;
    $button-font-size-mobile: 16px;
    $tag-font-size-mobile: 14px;
    $p-font-size-mobile: 16px;
    $input-font-size-mobile: 18px;

    /* DESKTOP */

    $h1-font-size-desktop: 60px;
    $h2-font-size-desktop: 40px;
    $h3-font-size-desktop: 30px;
    $h4-font-size-desktop: 35px;
    $h5-font-size-desktop: 22px;
    $h6-font-size-desktop: 18px;

    $h4-footer-font-size-desktop: 30px;
    
    $menu-item-font-size-desktop: 22px;
    $button-font-size-desktop: 18px;
    $tag-font-size-desktop: 16px;
    $p-big-font-size-desktop: 18px;
    $p-small-font-size-desktop: 18px;
    $input-font-size-desktop: 25px;





/* __LETTER-SPACING__ */

$letter-spacing-small: 25px;
$letter-spacing-medium: 50px;
$letter-spacing-big: 3px;





/* __LINE-HEIGHT__ */

$line-height-mobile: 24px;
$line-height-desktop: 27px;