/* __SPACERS__ */

    /* MOBILE */
    $margin-side: 20px;

    $h1-margin-mobile: 30px 20px 0 20px;
    $h2-margin-mobile: 0px 20px 30px 20px;
    $h3-margin-mobile: 50px 0px 50px 20px;
    $h4-margin-mobile: 50px 0px 10px 20px;
    $h5-margin-mobile: 20px 0px 10px 20px;
    $h6-margin-mobile: 20px 0px 10px 20px;

    $h4-footer-margin-mobile: 50px 0px 10px 20px;

    $dash-margin-mobile: 0px 0px 20px 20px;

    $button-margin-mobile: 30px 0px 30px 20px;
    $button-padding-mobile: 10px 12px 10px 12px;

    $tag-margin-mobile: 10px 8px 8px 8px;
    $tag-padding-mobile: 5px 8px 5px 8px;

    $big-p-margin-mobile: 20px 20px 30px 20px;
    $small-p-margin-mobile: 20px;
    $footer-p-margin-mobile: 8px 0px 8px 20px;

    $about-img-padding-mobile: 30px 20px 100px 20px;

    $skills-field-margin-mobile: 30px 20px 30px 20px;
    $skills-field-padding-mobile: 20px;
    $skills-icon-margin-mobile: 20px 20px 20px 0px;

    $projects-field-margin-mobile: 30px 20px 30px 20px;
    $projects-field-padding-mobile: 30px 20px 30px 20px;
    $projects-img-margin-mobile: 30px 20px 50px 20px;

    $input-margin-mobile: 12px 0px 12px 0px;
    $input-padding-mobile: 10px;

    /* DESKTOP */

    $h1-margin-desktop: 0px 0px 0px 278px;
    $h2-margin-desktop: 0px 0px 50px 278px;
    $h3-margin-desktop: 0px 0px 0px 140px;
    $h4-margin-desktop: 100px 0px 20px 278px;
    $h5-margin-desktop: 40px 0px 20px 30px;
    $h6-margin-desktop: 40px 0px 20px 30px;

    $h4-footer-margin-desktop: 107px 0px 50px 0px;

    $dash-margin-desktop: 0px 0px 100px 278px;

    $button-margin-desktop: 50px 25px 50px 278px;
    $button-padding-desktop: 16px 60px 16px 30px;

    $tag-margin-desktop: 20px 10px 40px 10px;
    $tag-padding-desktop: 20px 10px 40px 10px;

    $big-p-margin-desktop: 100px 0px 100px 278px;
    $small-p-margin-desktop: 40px 30px 40px 30px;
    $footer-p-margin-desktop: 10px 0px 10px 0px;

    $about-img-desktop: 100px 278px 100px 0px;

    $skills-field-margin-desktop: 50px 25px 50px 25px;
    $skills-field-padding-desktop: 50px 30px 50px 30px;
    $skills-icon-margin-desktop: 40px 30px 50px 0px;

    $projects-field-margin-desktop: 50px 30px 50px 30px;
    $projects-field-padding-desktop: 50px 30px 50px 30px;
    $projects-img-margin-desktop: 50px 0px 50px 0px;

    $input-margin-desktop: 20px 0px 20px 0px;
    $input-padding-desktop: 11px 20px 11px 20px;

    



/* __WIDTH / HEIGHT__ */

    /* __MOBILE__ */

    $dash-width-mobile: 50px;
    $dash-height-mobile: 8px;

    $button-small-width-mobile: 142px;
    $button-small-height-mobile: 38px;

    $socials-icon-width-mobile: 17px;
    $socials-icon-background-width-mobile: 30px;

    $karel-img-width-mobile: 250px;

    $projects-img-height-mobile: 115px;

    $skills-icon-width-mobile: 22px;
    $skills-icon-background-width-mobile: 50px;

    $scroll-down-arrow-width-mobile: 25px;

    /* __DESKTOP__ */

    $dash-width-desktop: 100px;
    $dash-height-desktop: 10px;

    $button-big-width-desktop: 241px;
    $button-small-width-desktop: 202px;
    $button-height-desktop: 60px;

    $socials-icon-width-desktop: 30px;
    $socials-icon-background-width-desktop: 50px;

    $projects-img-height-desktop: 240px;

    $skills-icon-width-desktop: 32px;
    $skills-icon-background-width-desktop: 75px;

    $scroll-down-arrow-width-desktop: 40px;